<!DOCTYPE html>
<html>
<head>
	<title>Chicago Kiteboarding: Stoke Riders</title>
	<meta name=viewport content="width=device-width,initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<%= csrf_meta_tags %>



</head>
<body>

	<header role="banner">
		<div class="container">
		<% unless controller_name == "admin" %>
			<%= link_to image_tag('stoke.png', :class => "img-responsive", :id => "logo-main"), root_path %>
		</div>
		<nav id="navbar-primary" class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-primary-collapse">
					<ul class="nav navbar-nav">
						<li><%= link_to 'Services', kiteboarding_lessons_path, :class => "nav-link-list" %></li>
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle nav-link-list" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gear<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/kiteboarding-gear/#kites">Kites</a></li>
								<li><a href="/kiteboarding-gear/#boards">Boards</a></li>
								<li><a href="/kiteboarding-gear/#accessories">Accessories</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#">All gear</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle nav-link-list" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Locations<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/kiteboarding-locations/indianakiteboardinglessons">Indiana Kiteboarding Lessons</a></li>
								<li><a href="/kiteboarding-locations/michigankiteboardinglessons">Michigan Kiteboarding Lessons</a></li>
								<li><a href="/kiteboarding-locations/chicagokiteboardinglessons">Chicago Kiteboarding Lessons</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a href="" class="nav-link dropdown-toggle nav-link-list" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/stoke-riders-kiteboarding-blog">Tyler's Blog</a></li>
							</ul>
						</li>
						<li><%= link_to 'Gallery', kiteboarding_gallery_path, :class => "nav-link-list" %></li>
						<li><%= link_to 'About us', about_stoke_riders_path, :class => "nav-link-list" %></li>
						<li><%= link_to 'Contact', contact_path, :class => "nav-link-list" %></li>
						<li><a href="https://www.facebook.com/Stokeriders/" target="_blank" class="social-media-links" id="nav-link-list"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href="mailto:info@stokeriders.com?Subject=Kiteboarding%20Lessons" target="_top" class="social-media-links" id="nav-link-list"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
						<li><a href="tel: 312-952-0888" class="social-media-links" id="nav-link-list"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
						<li><a href="tel: 312-952-0888" class="social-media-links-1" id="nav-link-list">Tel : 312-952-0888</a></li>



					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header><!-- header role="banner" -->
	<% end %>




	<%= yield %>


	<% unless controller_name == "admin" %>
	<footer>
		<div class="container-fluid">
			<div class="col-md-8 col-xs-12">
				<%= link_to image_tag('stoke.png', :class => "img-responsive pull-left", :id => "logo-main"), root_path %>
			</div>
			<div class="col-md-6 pull-left">
			<li><%= link_to 'Contact', contact_path, :class => "footer-image" %></li>
			<li><%= link_to 'FAQ', frequentlyaskedquestions_path, :class => "footer-image" %></li>
			<li><%= link_to 'Admin', login_path, :class => "footer-image" %></li>
			</div>

			<div class="pull-right">
		<% end %>



			</div>
		</div>
	</footer>


</body>
</html>